Source: raqetclient
Section: unknown
Priority: extra
Maintainer: Ruud Schramp <schramp@holmes.nl>
Build-Depends: debhelper (>= 8.0.0),git-core,build-essential,libssl-dev,libncurses5-dev,unzip,python,gawk,wget,subversion,whois,ca-certificates
Standards-Version: 3.9.2
Homepage: http://raqet.org
#Vcs-Git: git://git.debian.org/collab-maint/raqetclient.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/raqetclient.git;a=summary

Package: raqetclient
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},python,syslinux,syslinux-common,genisoimage
Description: Raqet remote acquisition client configuration tool
 Raqet 

Package: raqetclient-doc
Architecture: all
Description: documentation for raqetclient
 <insert long description, indented with spaces>
